.wrapper {
  width: 100%;
  // margin: 0 auto;
  // background-color: rgb(218, 250, 215);
  display: flex;
  justify-content: center;
  text-align: center; // TO DO
}

.content {
  width: 95%;
  max-width: 1440px;
  // background-color: rgb(250, 215, 245);
  text-align: center;
}

.btnGroup {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
}
