.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  width: 95%;
  max-width: 1440px;

  text-align: center;
}

.btnGroup {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 1rem;
}
