@import 'shared/styles/colors';

.content {
  width: 100%;
  padding: 0.571rem 1rem;
  border: $bg-light-grey;
  border-radius: 0.357rem;
  max-height: 35.25px;
  background-color: $bg-input;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
  color: $text-grey;
  font-size: 0.8rem;
  font-weight: 600;
}
