$text-light-blue: #0b409b;
$text-blue: #101728;
$text-grey: #4e5154;
$text-grey-secondary: #596778;
$text-red: red;

$bg-grey: #82868b;
$bg-light-grey: lightgrey;
$bg-orange: #ff9718;
$bg-orange-active: rgba(255, 151, 24, 0.8);
$bg-page: #f7f7f7;
$bg-white: #fff;
$bg-input: rgb(255, 255, 255);
$bg-input-active: rgb(38, 132, 255);
$bg-input-hover: #e9f4ff;

$shadow: 0 4px 24px 0 rgba(16, 23, 40, 0.1);
$border: 0 solid rgba(16, 23, 40, 0.125);
$border-input-color: rgb(204, 204, 204);
