@import 'shared/styles/colors';

.table {
  width: 100%;
  padding: 0 1rem;
  overflow-x: auto;
}

.head {
  background-color: $bg-light-grey;
}

.table_body {
  font-size: 14px;
}
.table_head_row {
  display: flex;
  gap: 1rem;
  padding: 0.7rem 0.5rem;
}

.table_row_item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: $text-grey-secondary;
  white-space: nowrap;
}
.img {
  width: 10px;
}

.table_id {
  width: 10%;
}

.table_payer,
.table_sender,
.table_receiver {
  width: 15%;
}

.table_status,
.table_date {
  width: 20%;
}

.table_delete {
  width: 5%;
}

.table_body_row {
  display: flex;
  gap: 1rem;
  padding: 0.7rem 0.5rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: $text-light-blue;
}

.text_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
