@import 'shared/styles/colors';

.card_title {
  margin-bottom: 1rem;
}

.checkbox_input {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

label {
  font-size: 0.8rem;
}

.checkbox_input input {
  width: 20px;
  height: 20px;
}
