.btn {
  width: auto;
  height: 38px;
  padding: 0.5rem 1rem;

  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1;
  // letter-spacing: 1px;
}

.btn:hover {
  border-color: 0.15s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* добавляем тень при наведении */
  background: 0s;
  border: 0s;
}

.btnItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.disable {
  opacity: 0.7;
}
